    <%- include("topbar") -%>
    <style>
        #s1.fa-star, #s2.fa-star, #s3.fa-star, #s4.fa-star, #s5.fa-star {
            font-size: 30px;
            color: #ddd !important;
            cursor: pointer;
        }
    </style>
    <!-- Navbar Start -->
    <div class="container-fluid mb-30" style="background-color: #1c538e;">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="rounded-0 btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-white m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-white"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        <% categories.forEach(function(category){ %>
                                <a href="/products/<%= category.slug %>" class="nav-item nav-link"><%= category.title %></a>
                        <% }); %>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg navbar-dark py-3 py-lg-0 px-0">
                    <a href="/" class="text-decoration-none d-block d-lg-none">
                        <img src="/img/logo-white.png" class="me-2" height="50"
                              alt="Logo" loading="lazy" />
                        <small style="font-family: 'Poppins', sans-serif; font-size: 12pt;" class="text-white">Super Store</small>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <hr>
                            <div class="input-group input-group-small">
                                <input type="text" class="form-control search2" placeholder="Search for products" id="" name="search">
                                <div class="input-group-append">
                                    <button type="submit" id="" class="searchbtn2 input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search text-white"></i>
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <% pages.forEach(function(page){ %>
                                <% if (page.slug == "home") { %>
                                    <a href="/" class="nav-item nav-link"><%= page.title %></a>
                                <% } else if(page.slug == "checkout"){%>
                                    <a href="/cart/<%= page.slug %>" class="nav-item nav-link"><%= page.title %></a>
                                <% } else if(page.slug == "profile"){%>
                                
                                <% } else { %>
                                    <a href="/<%= page.slug %>" class="nav-item nav-link"><%= page.title %></a>
                                <% } %>
                            <% }); %>
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a href="/wishlist" class="btn px-0">
                                <i class="fas fa-heart text-white"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">
                                    <% if (typeof wishlist !== "undefined") { %>
                                        <%= wishlist.length %>
                                        <% } else { %>
                                        0
                                    <% } %>
                                </span>
                            </a>
                            <a href="/cart" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-white"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">
                                    <% if (typeof cart !== "undefined") { %>
                                    <%= cart.length %>
                                    <% } else { %>
                                    0
                                    <% } %>
                                </span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" href="#">Home</a>
                        <span class="breadcrumb-item active">Product Detail</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->


        <!-- Shop Detail Start -->
        <div class="container-fluid pb-5">
            <div class="row px-xl-5">
                <div class="col-lg-5 mb-30">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner bg-light">
                            <div class="carousel-item active">
                                <img class="w-100 h-100" src="/product_images/<%= p.id %>/<%= p.image %>" alt="Image">
                            </div>
                            <% galleryImages.forEach(function(image){ %>
                            <% if (image != "thumbs") { %>                    
                            <div class=" carousel-item">
                                <img class="rounded-lg w-100 h-100" src="/product_images/<%= p.id %>/gallery/<%= image %>" alt="Image">
                            </div>
                            <% } %>
                            <% }); %>                
                        </div>
                        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                            <i class="fa fa-2x fa-angle-left text-white"></i>
                        </a>
                        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                            <i class="fa fa-2x fa-angle-right text-white"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-7 h-auto mb-30">
                    <div class="rounded-lg h-100 bg-light p-30">
                        <h3><%= p.title.charAt(0).toUpperCase() %><%= p.title.slice(1) %></h3>
                        <div class="d-flex mb-3">
                            <div class="text-primary mr-2">
                            <% for(var i = 0 ; i < Math.floor(p.rating) ; i ++){ %>
                            <small class="fas fa-star"></small>
                            <% } %>
                            <% for(var i = 0 ; i < (Math.round(p.rating) - Math.floor(p.rating)) ; i ++){ %>
                            <small class="fas fa-star-half-alt"></small>
                            <% } %>
                            <% for(var i = 0 ; i < (5 - Math.ceil(p.rating)) ; i ++){ %>
                            <small class="far fa-star"></small>
                            <% } %>
                            <small>(<%= p.rating.toFixed(2) %>)</small> 
                            </div>
                            <small class="pt-1">(<%= reviews.length %> Reviews)</small>
                        </div>
                        <div class="d-flex mb-3">
                        <h3  class="font-weight-semi-bold mb-4"><%= currency %> <%= ((p.price - (p.price*p.discount/100))*exrate).toFixed(2) %></h3><h3 class="text-muted ml-2"><del><%= currency %> <%= (p.price*exrate).toFixed(2) %></del></h3>
                        </div>
                        <p class="mb-4"><%= p.desc_short %></p>
                        <div class="d-flex align-items-center mb-4 pt-2">
                            <a href="/cart/add/<%= p.slug %>" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To
                                Cart</a>
                        </div>
                        <div class="d-flex pt-2">
                            <strong class="text-dark mr-2">Share on:</strong>
                            <div class="d-inline-flex" id="share-buttons">
                                <a class="text-dark px-2 facebook" href="" target="blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="text-dark px-2 twitter" href="" target="blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="text-dark px-2 linkedin" href="" target="blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a class="text-dark px-2 pinterest" href="" target="blank">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="rounded-lg bg-light p-30">
                        <div class="nav nav-tabs mb-4">
                            <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                            <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (<%= reviews.length %>)</a>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-pane-1">
                                <h4 class="mb-3">Product Description</h4>
                                <p><%- p.desc %></p>
                            </div>
                            <div class="tab-pane fade" id="tab-pane-3">
                                <div class="row">
                                    <div class="col-md-6">
                                    <h4 class="mb-4"><%= reviews.length %> review for "<%= p.title %>"</h4>   
                                        <% r_users.slice().reverse().forEach(function(u, index, arr){ %>
                                        <div class="media mb-4">
                                            
                                            <% if(u.image === ""){ %>
                                            <img src="/images/user.png" alt="Image" class="img-fluid-profilepic mr-3 mt-1" style="width: 45px;">
                                            <% } else { %>
                                            <img src="/user/<%= u._id  %>/<%= u.image %>" alt="Image" class="img-fluid-profilepic mr-3 mt-1" style="width: 45px;">
                                            <% } %>

                                            <div class="media-body">
                                                <h6><%= u.firstname %> <%= u.lastname %><small> - <i><%= reviews[index].createdAt %></i></small></h6>
                                                <div class="text-primary mb-2">
                                                    <% for(var i = 0 ; i < Math.floor(reviews[index].rating) ; i ++){ %>
                                                    <i class="fas fa-star"></i>
                                                    <% } %>
                                                    <% for(var i = 0 ; i < (Math.round(reviews[index].rating) - Math.floor(reviews[index].rating)) ; i ++){ %>
                                                    <i class="fas fa-star-half-alt"></i>
                                                    <% } %>
                                                    <% for(var i = 0 ; i < (5 - Math.ceil(reviews[index].rating)) ; i ++){ %>
                                                    <i class="far fa-star"></i>
                                                    <% } %>
                                                </div>
                                                <p><%= reviews[index].message %></p>
                                            </div>
                                        </div>
                                    <% }) %>
                                    </div>

                                    <% if(user) { %>
                                    <div class="col-md-6">
                                        <h4 class="mb-4">Leave a review</h4>

                                        <!-- review -->
                                        <form id="review" method="post" action="/products/<%= p.category %>/<%= p.slug %>">
                                        <small>Your email address will not be published. Required fields are marked *</small>
                                        <div class="d-flex my-3">
                                            <p class="mb-0 mr-2">Your Rating * :</p>
                                            <div class="text-primary">
                                                <i class="fa fa-star" aria-hidden="true" id="s1"></i>
                                                <i class="fa fa-star" aria-hidden="true" id="s2"></i>
                                                <i class="fa fa-star" aria-hidden="true" id="s3"></i>
                                                <i class="fa fa-star" aria-hidden="true" id="s4"></i>
                                                <i class="fa fa-star" aria-hidden="true" id="s5"></i>
                                            </div>
                                            <input type="number" id="rating" class="form-control" name="rating" placeholder="rating" value="0" min="0" max="5" hidden/>
                                        </div>
                                            <div class="form-group">
                                                <label for="message">Your Review *</label>
                                                <textarea id="message" name="message" cols="30" rows="5" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group mb-0">
                                                <button type="submit" class="btn btn-primary px-3">Submit review</button>
                                            </div>
                                        </form>

                                        <!-- end review -->

                                    </div>
                                </div>
                                <% } else{ %>
                                <h6>Log in to Review</h6>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Detail End -->


        <!-- Products Start -->
        <div class="container-fluid py-5">
            <h2 class="section-tite position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span></h2>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <% products.forEach(function(product){ %>
                                <div class="rounded-lg product-item bg-light mb-4">
                                    <div class="rounded-lg product-img position-relative overflow-hidden">
                                        <img class="rounded-lg img-fluid w-100" src="/product_images/<%= product._id %>/<%= product.image %>" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href="/products/<%= product.category %>/<%= product.slug %>"><i class="fa fa-search"></i></a>
                                            <a class="btn btn-outline-dark btn-square" href="/cart/add/<%= product.slug %>"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a class="h6 text-decoration-none text-truncate" href=""><%= product.title.charAt(0).toUpperCase() %><%= product.title.slice(1) %></a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5><%= currency %> <%= ((product.price - (product.price*product.discount/100))*exrate).toFixed(2) %></h5><h6 class="text-muted ml-2"><del><%= currency %> <%= (product.price*exrate).toFixed(2) %></del></h6>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center mb-1">
                                            <% for(var i = 0 ; i < Math.floor(product.rating) ; i ++){ %>
                                                <small class="fas fa-star mr-1"></small>
                                                <% } %>
                                                <% for(var i = 0 ; i < (Math.round(product.rating) - Math.floor(product.rating)) ; i ++){ %>
                                                <small class="fas fa-star-half-alt mr-1"></small>
                                                <% } %>
                                                <% for(var i = 0 ; i < (5 - Math.ceil(product.rating)) ; i ++){ %>
                                                <small class="far fa-star mr-1"></small>
                                                <% } %>
                                                <small>(<%= product.numberOfRatings %>)</small> 
                                        </div>
                                    </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>

        <script>

            const link = encodeURI(window.location.href);
            const msg = encodeURIComponent('Hey, Check this out');
            const title = encodeURIComponent(document.querySelector('title').textContent);

            console.log([link, msg, title]);

            const fb = document.querySelector('.facebook');
            fb.href = `https://www.facebook.com/share.php?u=${link}`;

            const twitter = document.querySelector('.twitter');
            fb.href = `https://www.twitter.com/share?&url=${link}&text=${msg}&hashtags=${title} `;

            
            $(document).ready(function(){
                //click star
                $('#s1').click(function(){
                    $('#s1.fa-star').attr("style", "color: red !important")
                    $('#s2.fa-star, #s3.fa-star, #s4.fa-star, #s5.fa-star').attr("style", "color: #ddd !important")
                    $('#rating').val(1)
                });

                $('#s2').click(function(){
                    $('#s1.fa-star, #s2.fa-star').attr("style", "color: red !important")
                    $('#s3.fa-star, #s4.fa-star, #s5.fa-star').attr("style", "color: #ddd !important")
                    $('#rating').val(2)
                });
               
                $('#s3').click(function(){
                    $('#s1.fa-star, #s2.fa-star, #s3.fa-star').attr("style", "color: red !important")
                    $('#s4.fa-star, #s5.fa-star').attr("style", "color: #ddd !important")
                    $('#rating').val(3)
                });
                
                $('#s4.fa-star').click(function(){
                    $('#s1.fa-star, #s2.fa-star, #s3.fa-star, #s4.fa-star').attr("style", "color: red !important")
                    $('#s5.fa-star').attr("style", "color: #ddd !important")
                    $('#rating').val(4)
                });
               
                $('#s5').click(function(){
                    $('#s1.fa-star, #s2.fa-star, #s3.fa-star, #s4.fa-star, #s5.fa-star').attr("style", "color: red !important")
                    $('#rating').val(5)
                });
                
                //hover stars
                $('#s1').hover(function(){
                    $('#s1.fa-star').attr("style", "color: red !important")
                    $('#s2.fa-star, #s3.fa-star, #s4.fa-star, #s5.fa-star').attr("style", "color: #ddd !important")
                    $('#rating').val(1)
                });

                $('#s2').hover(function(){
                    $('#s1.fa-star, #s2.fa-star').attr("style", "color: red !important")
                    $('#s3.fa-star, #s4.fa-star, #s5.fa-star').attr("style", "color: #ddd !important")
                    $('#rating').val(2)
                });
               
                $('#s3').hover(function(){
                    $('#s1.fa-star, #s2.fa-star, #s3.fa-star').attr("style", "color: red !important")
                    $('#s4.fa-star, #s5.fa-star').attr("style", "color: #ddd !important")
                    $('#rating').val(3)
                });
                
                $('#s4.fa-star').hover(function(){
                    $('#s1.fa-star, #s2.fa-star, #s3.fa-star, #s4.fa-star').attr("style", "color: red !important")
                    $('#s5.fa-star').attr("style", "color: #ddd !important")
                    $('#rating').val(4)
                });
               
                $('#s5').hover(function(){
                    $('#s1.fa-star, #s2.fa-star, #s3.fa-star, #s4.fa-star, #s5.fa-star').attr("style", "color: red !important")
                    $('#rating').val(5)
                });                
            })

        </script>

        <!-- Products End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="../../lib/easing/easing.min.js"></script>
        <script src="../../lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="../../mail/jqBootstrapValidation.min.js"></script>
        <script src="../../mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="../../js/main.js"></script>
    </body>
    </html>