<%- include("topbar") -%>

<%- include("modern-nav") -%>

<!-- Modern Breadcrumb -->
<div class="container-fluid" style="background: #f9fafb; padding: 1.5rem 0;">
    <div class="container">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb-modern">
                    <a href="/">Home</a>
                    <span class="separator"><i class="fas fa-chevron-right"></i></span>
                    <span>Search Results</span>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Continue with the search content -->
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a href="/wishlist" class="btn px-0">
                                <i class="fas fa-heart text-white"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">
                                    <% if (typeof wishlist !== "undefined") { %>
                                        <%= wishlist.length %>
                                        <% } else { %>
                                        0
                                    <% } %>
                                </span>
                            </a>
                            <a href="/cart" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-white"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">
                                    <% if (typeof cart !== "undefined") { %>
                                    <%= cart.length %>
                                    <% } else { %>
                                    0
                                    <% } %>
                                </span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Search</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

        <div class="container-fluid">
        <div class="row px-xl-5">
        <div class="col-12">        
        <%- include('messages') %> 
        </div>
        </div>
        </div>

        <div class="col-12">
            <h5 class="section-tite position-relative mx-xl-5 mb-4"><span class="bg-secondary pr-3">Search Results: (About <%= results.length %> results)</span></h5>
        </div>
        <div class="container-fluid">
        <div class="row px-xl-5">
        <div class="col-lg-12 table-responsive mb-5">        
        <% results.forEach(function(product){ %>
            <div class="rounded-lg card card-body mt-3">
                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                    <div class="mr-2 mb-3 mb-lg-0 searchimgcontainer">
                            <img src="/product_images/<%= product._id %>/<%= product.image %>" width="200" height="200" alt="" class="searchimg">
                            <div class="middle">
                                <div class="text">
                                    <a class="btns btn-outline-darks btn-squared m-1" href="/products/<%= product.category %>/<%= product.slug %>"><i class="fa fa-search"></i></a>
                                    <a class="btns btn-outline-darks btn-squared m-1" href="/cart/add/<%= product.slug %>"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btns btn-outline-darks btn-squared m-1" href="/wishlist/add/<%= product.slug %>"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                    </div>
                    <div class="media-body align-middle">
                        <h6 class="media-title font-weight-semibold">
                            <a class="text-dark font-weight-bold" style="font-size: 16pt;" href="/products/<%= product.category %>/<%= product.slug %>" data-abc="true"><%= product.title.toUpperCase() %></a>
                        </h6>

                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                            <li class="list-inline-item"><a href="/products/<%= product.category %>" style="color: gray;" class="text-muted" data-abc="true"><%= product.category %></a></li>
                        </ul>
                        <p class="mb-1"><%- product.desc_short %></p>
                        <p class="mb-1"><%- product.desc %></p>
                    </div>

                    <div class="mt-3 m-3 mt-lg-0 ml-lg-3 text-center">
                        <h3  class="font-weight-semi-bold mb-4"><%= currency %> <%= ((product.price - (product.price*product.discount/100))*exrate).toFixed(2) %></h3><del><%= currency %> <%= (product.price*exrate).toFixed(2) %></del>

                        <div>
                            <% for(var i = 0 ; i < Math.floor(product.rating) ; i ++){ %>
                                <i class="fas fa-star mr-1"></i>
                                <% } %>
                                <% for(var i = 0 ; i < (product.rating - Math.floor(product.rating))/0.5 ; i ++){ %>
                                <i class="fas fa-star-half-alt mr-1"></i>
                                <% } %>
                                <% for(var i = 0 ; i < (5 - Math.ceil(product.rating)) ; i ++){ %>
                                <i class="far fa-star mr-1"></i>
                                <% } %>
                                <small>(<%= product.rating %>)</small> 
                        </div>

                        <div class="text-muted">(<%= product.numberOfRatings %> reviews)</div>

                        <a href="/wishlist/add/<%= product.slug %>" type="button" class="mt-3 btn btn-success"><i class="icon-cart-add mr-2"></i>Wishlist</a>
                        <a href="/cart/checkout" type="button" class="mt-3 btn btn-primary"><i class="icon-cart-add mr-2"></i>Add to Cart</a>
                    </div>
                </div>
            </div>
        <% }) %>

        <% if(results.length === 0){ %>
        <h3 class="text-center text-white">
            <img id="img-404" class="" src="/img/not-found.png" alt="">
            <h3 class="text-center text-secondary"><a href="/" class="text-secondary">Go to Home 👉</a></h3>
        </h3>
        <% } %>
    </div>
    </div>
    </div>


    <%- include("footer") -%>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../../lib/easing/easing.min.js"></script>
    <script src="../../lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="../../mail/jqBootstrapValidation.min.js"></script>
    <script src="../../mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="../../js/main.js"></script>
</body>

</html>